@model List<Factory>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fabrika Adı</th>
            <th scope="col">Eylemler</th>
        </tr>
    </thead>
    @foreach (var data in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@data.FactoryId</th>
                <td>@data.FactoryName</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    }
</table>